 @import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}



.link-3 {
  display: inline-block;
  width: 111px;
  height: 96px;
  line-height: 96px;
  text-align: center;
  transition: 0.4s;
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  z-index: 100;
}
.link-3:hover {
  color: red;
  background: url(../../webroot/web/images/icon_menu.png) 0 0 no-repeat;
  z-index: 10000;
}
@media only screen and (max-width: 480px) {
    .link-3 {
      font-size: 13px;
      padding: 7px 5px;
      width: 20%;
    }
    .link-3:hover {
      background: white;
    }
  }













