.my-btn-icon-pg ul li
{
	margin: 0;
	padding: 0;
	border: none;
	min-width: 25px;
	list-style: none;
}

.my-btn-icon-pg tr td.o-giua
{
	text-align: center;
	vertical-align: middle;
}

.my-plus-btn-icon-pg ul li
{
	border: none;
}

/*#content-header.thuong-hieu .widget-content, #content-header.dong-ho .widget-content,*/
#content-header .widget-content,
.o-giua .widget-content
{
	border-bottom: none;
}

.my-btn-icon-pg label:first-child div.radio
{
	margin-left: 10px;
}

#content-header .widget-content
{
	margin-left: 5px;
}


.dong-ho textarea
{
	resize: vertical;
}

.thuong-hieu-het-sale, .dong-ho-het-sale
{
	margin-left: 20px;
}

.don-hang .widget-content:nth-child(2)
{
	border-bottom: 1px solid #cdcdcd;
}

.trang textarea
{
	width: 500px;
	height: 300px;
	resize: vertical;
}
.user_logout {
	color: white;
    padding: 20px 25px;
    float: right;
}
















