@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	}
.Wrapper {
	margin:0 auto;
	width:1003px;
	background:url(../images/bg.jpg) repeat-y;
	}
.Banner {
	width:1003px;
	height:476px;
	}
.Middle {
	width:1003px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
.Lefter {
	width:736px;
	float:left;
	}
.Righter {
	width:267px;
	float:right;
	}
.Clear {
	clear:both;
	}
.ContentTitle {
	background:url(../images/index_2.jpg) no-repeat;
	width:736px;
	height:102px;
	}
.ListTitle {
	background:url(../images/index_3.jpg) no-repeat;
	width:267px;
	height:102px;
	}
.Footer {
	/*background:url(../images/index_12.jpg) no-repeat;*/
	width:1003px;
	
	color:#570208;
	font-size:12px;
	text-align:center;
	line-height:10px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:15px;
	height:185px;
	
	}
.Footer a {
	color:#570208;
	text-decoration:none;
	}
.Footer a:hover {
	color:#FFFFFF;
	}
.About {
	padding:21px 35px 33px 26px;
	color:#000000;
	line-height:25px;
	font-size:12px;
	}
.List {
	width:214px;
	margin:21px 23px 19px 30px;
	}
/*.SubMenu {
	background:url(../images/index_6.jpg) no-repeat;
	width:167px;
	height:33px;
	padding-left:47px;
	line-height:2.5em;
	margin-bottom:6px;
	}
.SubMenu a {
	font-size:14px;
	font-weight:bold;
	color:#f4db9f;
	text-decoration:none;
	}
.SubMenu a:visited {
	color:#000000;
	}
.SubMenu a:hover {
	color:#000000;
	}*/
.SubMenu {
	background:url(../images/index_3.gif) no-repeat;
	width:247px;
	height:35px;
	padding-left:40px;
	line-height:2.0em;
	margin-bottom:6px;
	font-family: "??";
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
.SubMenuxjd {
	background:url(../images/xjd.gif) no-repeat;
	width:247px;
	height:35px;
	margin-left:20px;
}
.SubMenu1:link,.SubMenu1:visited {
	background:url(../images/menu.gif) no-repeat;
	width:167px;
	height:33px;
	padding-left:47px;
	line-height:2.5em;
	margin-bottom:6px;
	font-size:14px;
	font-weight:bold;
	display:block;
	color:#f4db9f;
	text-decoration:none;
	}
.SubMenu1:hover, .SubMenu2{
	background:url(../images/menu_o.gif) no-repeat;
	width:167px;
	height:33px;
	padding-left:47px;
	line-height:2.5em;
	margin-bottom:6px;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	color:#000000;
	}
.Tu {
	background:url(../images/index_10.png) no-repeat;
	width:267px;
	height:189px;
	}
.Pr {
	padding:43px 25px 10px 11px;
	}
.Pr000 {
	padding:0px 25px 10px 11px;
	}
.Titlebg {
	background:url(../images/dian.gif) no-repeat;
	width:193px;
	height:17px;
	color:#661011;
	font-size:12px;
	font-weight:bold;
	margin-bottom:15px;
	padding-top:5px;
	padding-left:28px;
	}
.Order:link {
	color:#000000;
	}
.Order:visited {
	color:#000000;
	}
.Order:hover {
	color:#FFFFFF;
	text-decoration:none;
	}
.Pages {
	margin:30px 0 0 0;
	text-align: center;	
	}
.Pages a {
	padding: 2px 2px;
	margin: 0 0 0 3px;
	font-family: Arial, Helvetica, sans-serif, "??", "????";
	font-size: 10px;
	text-decoration: none;
	color: #666666;
	text-align:center;
	}
.Pages a:hover {
	background: #005ba8;
	color: #ffffff;
	}
	
	
	.link li{float:left; text-decoration:none; list-style-type:none;margin-right:20px;}
	.link li span{ display:block;padding:10px 10px 10px 0; color:#000;}
	.a1{margin-top:30px;}
	.space{margin-left:220px;}
	.bot{display:block; margin-bottom:20px;}







/*160111 add*/
.go-cart { width:247px; height:41px; background:url(../images/go-cart.png) no-repeat center center; display: block; margin:auto;  }
.go-cart:hover { opacity: .8; }

.Wrapper { position: relative; }
.header-top { position: absolute; top:0;    width: 1003px; }
.top-cart,.top-home {
    position: absolute;
    right: 190px;
    z-index: 3;
    background: rgb(255, 210, 1);
    width: 100px;
    height: 27px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;

}
.top-cart a,.top-home a {  
    color: #652504;
    line-height: 26px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgb(255, 241, 177);
    font-size: 16px;

}
.top-cart a:hover,.top-home a:hover { color: #964D28; }

.top-home { right:0; width:185px;}
.top-home a:nth-of-type(1) {    border-right: 1px solid #73360A; padding-right: 10px;}
.top-home a:nth-of-type(2) {  padding-left: 10px;}

.notice {
    color: #C81414;
    font-size: 20px;
}

.cart-address { margin-bottom:15px; margin-top:20px; background-color: #FEF4D0; border-collapse:collapse; }
.cart-address tr td {border:1px solid #cea06f; }
